<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <script src="https://www.googleoptimize.com/optimize.js?id=OPT-PXB929C"></script>
  {% comment %} <script src="https://www.googleoptimize.com/optimize.js?id=OPT-N4FWJT2"></script> {% endcomment %}
  {% include 'elevar-head' %}

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Sections ================================================== -->
  <script>
    window.theme = window.theme || {};
    theme.strings = {
      zoomClose: {{ "products.zoom.close" | t | json }},
      zoomPrev: {{ "products.zoom.prev" | t | json }},
      zoomNext: {{ "products.zoom.next" | t | json }},
      moneyFormat: {{ shop.money_format | json }},
      addressError: {{ 'home_page.map.address_error' | t | json }},
      addressNoResults: {{ 'home_page.map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'home_page.map.address_query_limit_html' | t | json }},
      authError: {{ 'home_page.map.auth_error_html' | t | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartCookie: {{ 'cart.general.cookies_required' | t | json }},
      cartSavings: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      gridType: {{ settings.collection_products_grid | json }}
    };
  </script>

  <script>    
    var params = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value){
        params[key] = value;
    });
    if(params['promocode']) sessionStorage.setItem('promocode',params['promocode']);
    if(params['recharge_checkout']) sessionStorage.setItem('recharge_checkout',params['promocode']);
  </script>

  {{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template.directory == 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  

  <!-- Product hider app Code Start -->
  {% include 'product_hider_nofollow_noindex_meta_tag_sco_manager' %}
  <!-- Product hider app app Code End -->


<!-- Start of Littledata - Fix Google Analytics Script-->
{% include 'LittledataLayer' %}
<!-- End of Littledata - Fix Google Analytics Script -->
<script src="https://cdn.attn.tv/storyville/dtag.js"></script>

{% if request.path contains '/tools/recurring/portal/' %}
  <script>
    window.cancel_subscription = {
      heading: '{{ settings.cancel_subscription_heading }}',
      title: '{{ settings.cancel_subscription_title }}',
      button_text: '{{ settings.cancel_subscription_button_text }}',
      cancel_link: '{{ settings.cancel_subscription_cancel_link" }}',
      discount: '{{ settings.cancel_subscription_discount" }}'
    }
  </script>
{% endif %}
</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<script id="profitwell-js" data-pw-auth="db494f5625fd940512d2bb283fcbec34">
    (function(i,s,o,g,r,a,m){i[o]=i[o]||function(){(i[o].q=i[o].q||[]).push(arguments)};
    a=s.createElement(g);m=s.getElementsByTagName(g)[0];a.async=1;a.src=r+'?auth='+
    s.getElementById(o+'-js').getAttribute('data-pw-auth');m.parentNode.insertBefore(a,m);
    })(window,document,'profitwell','script','https://public.profitwell.com/js/profitwell.js');
  {% if customer %}
    profitwell('start', { 'user_email': '{{customer.email}}' }); 
  {% else %}
    profitwell('start', {});                     
  {% endif %}                         
</script>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWDRBC2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


  <div id="NavDrawer" class="drawer drawer--left">
    {% section 'drawer-menu' %}
  </div>
  <div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
    <div class="drawer__fixed-header">
      <div class="drawer__header">
        <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close">
          <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__inner">
      <div id="CartContainer" class="drawer__cart"></div>
    </div>
  </div>

  <div id="PageContainer" class="page-container">

    {% section 'header' %}

    {% if template.name == "index" %}
      {% section 'slideshow' %}
    {% endif %}

    <main class="main-content" role="main">

      {% if template.name == "index" or template == "collection.image" or template == "page.subscribe-v2" %}
        {% assign wrap_content = false %}
      {% else %}
        {% assign wrap_content = true %}
      {% endif %}

      {% if wrap_content %}
        <div class="wrapper">
          {{ content_for_layout }}
        </div>

      {% else %}
        {{ content_for_layout }}

      {% endif %}
    </main>

    <hr class="hr--large">

    {% section 'footer' %}

  </div>

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.cart_type == 'drawer' %}
    {% include 'ajax-cart-template' %}
  {% endif %}

  {% if template.name == 'product' or template.name == 'index' %}
      <script>
        // Override default values of shop.strings for each template.
        // Alternate product templates can change values of
        // add to cart button, sold out, and unavailable states here.
        theme.productStrings = {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        }
      </script>
    {% endif %}

  <div id="SearchModal" class="mfp-hide">
    {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--modal' %}
  </div>

{% include 'subscription-theme-footer' %}
{% comment %}DISABLED{% include 'booster-discounts' %}
   {% endcomment %}  
  
<!-- Warning: Do not remove.This is used for CartHook Checkout Replacement -->
{% capture the_snippet_content %}{% include 'carthook-checkout' %} {% endcapture %} {% unless the_snippet_content contains "Liquid error" %} {% include 'carthook-checkout' %} {% endunless %}
<!-- Warning: Do not remove.This is used for CartHook Checkout Replacement -->
     
  
<!-- Start of storyville Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=865cf939-eddc-4fb0-bf56-33941fdf5ec6"> </script>
<script type="text/javascript">

  window.zESettings = {
    webWidget: {
	  "color": {
         "theme": "#2C2721"
      },
      launcher: {
        chatLabel: {
          '*': 'Help'
        },
        mobile: {
          labelVisible: false
        }
      }
    },
    "contactOptions": {
         "enabled": true
    }
  }
  
{% if customer %}
  
var c_name = "{{  customer.first_name }} {{ customer.last_name }}";
var c_email = "{{ customer.email }}";
    
zE('webWidget', 'identify', {
  name: c_name,
  email: c_email
});

zE('webWidget', 'prefill', {
    name: {
      value: c_name
    },
    email: {
      value: c_email
    }
});

{% endif %}
  
  
  $(function() {
    $('.zendesk-opener').on('click', function(e) {
      e.preventDefault();
      zE('webWidget', 'toggle');
    });
  });
  
</script>
<!-- End of storyville Zendesk Widget script -->


  {% include 'elevar-body-end' %}
<!-- This line added automatically by JSON-LD for SEO. -->{% include 'jsonld-for-seo' %}

{% include 'stamped-rewards-init' %}
</body>
</html>
