<div data-section-id="{{ section.id }}" data-section-type="featured-content-section">
  <div class="rich-text wrapper">
    <div class="grid">
      <div class="grid__item text-center{% unless section.settings.home_page_full_width %} large--two-thirds medium--two-thirds push--large--one-sixth push--medium--one-sixth{% endunless %}">
        {% if section.settings.section_title != blank %}
          <div class="section-header">
            <h2 class="rich-text__heading--{{ section.settings.text_size }} section-header__title h1">{{ section.settings.section_title | escape }}</h2>
          </div>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="rte rich-text__text--{{ section.settings.text_size }}">
            {{ section.settings.text }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Rich text",
    "class": "index-section rich-text-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "home_page_full_width",
        "label": "Wide display"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Size",
        "default": "medium",
        "options": [
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Rich text",
        "category": "Text"
      }
    ]
  }
{% endschema %}
