<footer class="site-footer small--text-center" role="contentinfo">
  <div class="wrapper">

    <div class="grid-uniform">

      {% comment %}
        Default to 1 footer column (copyright/powered_by/payment_types)
      {% endcomment %}
      {% assign num_footer_columns = 1 %}

      {% comment %}
        Create an extra menu column if link list has more than 5 links
      {% endcomment %}
      {% if linklists[section.settings.footer_link_list].links.size > 0 %}
        {% comment %}
          We have a Footer menu that isn't empty, we will need another column
        {% endcomment %}
        {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% assign extra_footer_linklist_column = false %}
        {% assign footer_linklist_count = linklists[section.settings.footer_link_list].links.size %}
        {% if footer_linklist_count > 5 %}
          {% assign extra_footer_linklist_column = true %}
          {% comment %}
            We split the links so we'll need another column
          {% endcomment %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}
        {% comment %}
          If we have an odd amount of links, we need to show 1 more link in 1st column
        {% endcomment %}
        {% assign extra_link = footer_linklist_count | modulo: 2 %}
        {% comment %}
          We start with a 2nd column after first column is filled up.
        {% endcomment %}
        {% assign footer_linklist_split = footer_linklist_count | divided_by: 2 | plus: extra_link | plus: 1 %}
      {% endif %}

      {% comment %}
        Determine whether there are social links
      {% endcomment %}
      {% assign footer_social_enable = false %}
      {% if
        settings.social_twitter_link != blank
        or settings.social_facebook_link != blank
        or settings.social_pinterest_link != blank
        or settings.social_google_plus_link != blank
        or settings.social_instagram_link != blank
        or settings.social_tumblr_link != blank
        or settings.social_youtube_link != blank
        or settings.social_vimeo_link != blank
        or settings.social_fancy_link != blank
        or settings.social_snapchat_link != blank
      %}
        {% assign footer_social_enable = true %}
      {% endif %}

      {% comment %}
        Calculate the number of footer columns shown. Default to 1.
      {% endcomment %}
      {% if footer_social_enable %}
        {% assign num_footer_columns = num_footer_columns | plus: 1 %}
      {% endif %}

      {% case num_footer_columns %}
        {% when 0 %}
        {% when 1 %}
          {% assign footer_column_width = '' %}
        {% when 2 %}
          {% assign footer_column_width = 'one-half small--one-whole' %}
        {% when 3 %}
          {% assign footer_column_width = 'one-third small--one-whole' %}
        {% when 4 %}
          {% assign footer_column_width = 'large--one-quarter medium--one-half' %}
      {% endcase %}




        <div class="grid__item {{ footer_column_width }}">
		  <h4><a href="https://storyville.com/anywhere">COFFEE</a></h4>
          <p><a href="https://storyville.com/anywhere">Subscribe</a></p>
          <p><a href="/products/prologue-blend">Prologue Blend</a></p>
          <p><a href="/products/epilogue-blend-decaf">Epilogue Blend</a></p>
        </div>


      	<div class="grid__item {{ footer_column_width }}">
          <h4><a href="/pages/hardware">HARDWARE</a></h4>
          <p><a href="/collections/brewing-equipment/products/storyville-freedom-i">Freedom i</a></p>
          <p><a href="/collections/brewing-equipment/products/electric-water-kettle">Electric Water Kettle</a></p>
          <p><a href="/collections/brewing-equipment/products/conical-burr-grinder">Conical Burr Grinder</a></p>
          <p><a href="/collections/brewing-equipment/products/stainless-steel-coffee-press">Coffee Press</a></p>
          <p><a href="/collections/brewing-equipment/products/the-essentials-pair">The Essentials</a></p>
          <p><a href="/collections/brewing-equipment/products/porcelain-coffee-mug">Porcelain Mug</a></p>
          <p><a href="/collections/brewing-equipment/products/accessory-kit">Accessory Kit</a></p>

        </div>



        <div class="grid__item {{ footer_column_width }}">
          <h4><a href="/pages/locations">LOCATIONS</a></h4>
          <p><a href="/pages/pike-place-market">Pike Place</a></p>
          <p><a href="/pages/queen-anne">Queen Anne</a></p>
          <p><a href="/pages/downtown-seattle">1st & Madison</a></p>
          <p><a href="/pages/roasting-studio">Roasting Studio</a></p>

        </div>

        <div class="grid__item {{ footer_column_width }}">
          <h4><a href="/pages/contact-us">CONTACT US</a></h4>
          <p><a href="/pages/contact-us">Send Message</a></p>
          <p>206-780-5777</p>
          <p><a href="mailto:info@storyville.com">info@storyville.com</a></p>
          <p><a href="/pages/employment">Employment</a></p>
          <p><a href="/pages/terms-of-service">Terms of Service</a></p>
          <p><a href="/pages/privacy-policy">Privacy Policy</a></p>
        </div>






      {% comment %}FULL WIDTH SOCIAL ICONS SECTION {% endcomment %}

      <div class="grid__item fullWidthSocial">



        <ul class="no-bullets social-icons">
              {% if settings.social_facebook_link != blank %}
                <li>
                  <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                    <span class="icon icon-facebook" aria-hidden="true"></span>
                    Facebook
                  </a>
                </li>
              {% endif %}
              {% if settings.social_twitter_link != blank %}
                <li>
                  <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                    <span class="icon icon-twitter" aria-hidden="true"></span>
                    Twitter
                  </a>
                </li>
              {% endif %}
              {% if settings.social_pinterest_link != blank %}
                <li>
                  <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                    <span class="icon icon-pinterest" aria-hidden="true"></span>
                    Pinterest
                  </a>
                </li>
              {% endif %}
              {% if settings.social_instagram_link != blank %}
                <li>
                  <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                    <span class="icon icon-instagram" aria-hidden="true"></span>
                    Instagram
                  </a>
                </li>
              {% endif %}
              {% if settings.social_snapchat_link != blank %}
                <li>
                  <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                    <span class="icon icon-snapchat" aria-hidden="true"></span>
                    Snapchat
                  </a>
                </li>
              {% endif %}
              {% if settings.social_google_plus_link != blank %}
                <li>
                  <a href="{{ settings.social_google_plus_link | escape }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
                    <span class="icon icon-google_plus" aria-hidden="true"></span>
                    Google Plus
                  </a>
                </li>
              {% endif %}
              {% if settings.social_tumblr_link != blank %}
                <li>
                  <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                    <span class="icon icon-tumblr" aria-hidden="true"></span>
                    Tumblr
                  </a>
                </li>
              {% endif %}
              {% if settings.social_youtube_link != blank %}
                <li>
                  <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                    <span class="icon icon-youtube" aria-hidden="true"></span>
                    YouTube
                  </a>
                </li>
              {% endif %}
              {% if settings.social_vimeo_link != blank %}
                <li>
                  <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                    <span class="icon icon-vimeo" aria-hidden="true"></span>
                    Vimeo
                  </a>
                </li>
              {% endif %}
              {% if settings.social_fancy_link != blank %}
                <li>
                  <a href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
                    <span class="icon icon-fancy" aria-hidden="true"></span>
                    Fancy
                  </a>
                </li>
              {% endif %}
            </ul>
        <p style="text-align: center !important;">&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: '/' }}<br></p>
      </div>






    </div>

  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_link_list",
        "label": "Footer menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      }
    ]
  }
{% endschema %}
