{%- layout none -%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <title>{{ shop.name }}</title>
  
  {{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}
</head>
<body>
  
  <script>
    // Redirect to Subscription Checkout
    function reChargeProcessCart() {
      var myshopify_domain = '{{ shop.permanent_domain }}';
      var customer_param = '{% if customer %}customer_id={{customer.id}}&customer_email={{customer.email}}{% endif %}';

      function get_cookie(name) {
        return ( document.cookie.match('(^|; )' + name + '=([^;]*)') || 0 )[2];
      }
      do { token = get_cookie('cart'); } while (token == undefined);

      try { var ga_linker = ga.getAll()[0].get('linkerParam') } catch(err) { var ga_linker = '' }
      var discount = '';
      if(sessionStorage.getItem('promocode')) discount = '&discount='+sessionStorage.getItem('promocode');

      var checkout_url = "https://checkout.rechargeapps.com/r/checkout?myshopify_domain="+myshopify_domain+"&cart_token="+token+"&"+ga_linker+"&"+customer_param+discount;

      window.location.href = checkout_url; 
    }

    // Add item to cart
    function addItemToCart(variant_id, quantity, properties) {
      var data = {
        quantity: quantity,
        id: variant_id,
        properties: properties
      };
      
      $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: data,
        dataType: 'json',
        success: addItems
      });
    }

    // Init queue
    var queue = [];

    // Add subscription item to queue
    queue.push({
      variantId: {{ page.metafields.c_f.autoadd_variant }},
      quantity: {{ page.metafields.c_f.autoadd_quantity }},
      properties: {
        shipping_interval_frequency: '{{ page.metafields.c_f.autoadd_interval_frequency }}',
        shipping_interval_unit_type: '{{ page.metafields.c_f.autoadd_interval_unit }}',
        subscription_id: '{{ page.metafields.c_f.autoadd_subscription_id }}'
      }
    });

    // Add "Plus" item to queue
    queue.push({
      variantId: {{ page.metafields.c_f.autoadd_plus_variant }},
      quantity: {{ page.metafields.c_f.autoadd_plus_quantity }}
    });

    // Add items to cart
    function addItems() {
      if (queue.length) {
        var request = queue.shift();

        addItemToCart(
          request.variantId,
          request.quantity,
          request.properties
        );
      } else {
        reChargeProcessCart();
      }
    }

    // Init
    addItems();

  </script>

</body>
</html>
