{%- assign product_beans_handle    = 'private-reserve-pro-epi' -%}
{%- assign product_pods_handle     = 'k-cups' -%}
{%- assign product_capsules_handle = 'nespresso-pods' -%}

{%- assign product_beans = all_products[product_beans_handle] -%}
{%- assign product_pods = all_products[product_pods_handle] -%}
{%- assign product_capsules = all_products[product_capsules_handle] -%}

{%- assign product_handles = product_beans_handle | append: ',' | append: product_pods_handle | append: ',' | append: product_capsules_handle | split: ',' -%}
{%- assign product_builder_ids = 'beans,pods,capsules' | split: ',' %}

{%- capture builder_config -%}
{
  "defaultProduct" : "beans",
  "products": {
    {% for product_builder_id in product_builder_ids -%}
      {%- assign product_handle = product_handles[forloop.index0] -%}
      {%- assign prod = all_products[product_handle] -%}

      {% if product_builder_id == 'beans' %}
        {% assign package_description = 'Our one and only signature blend' %}
        {% assign shipping_description = 'Roasted and shipped to you same day' %}
      {% elsif product_builder_id == 'pods' %}
        {% assign package_description = 'Keurig® compatible pods' %}
        {% assign shipping_description = 'Roasted, sealed and shipped within hours' %}
      {% elsif product_builder_id == 'capsules' %}
        {% assign package_description = 'Compatible with Nespresso® original line' %}
        {% assign shipping_description = 'Roasted, sealed and shipped within hours' %}
      {% endif %}

      {% if product_builder_id == 'beans' %}
        {% assign price_unit = false %}
        {%- assign package_presentation = '8oz resealable pressurized bag' %}
        {% assign package_type = 'bags' %}
        {% assign contained_products = 1 %}

      {% else %}
        {% assign price_unit = 'cups' %}
        {% assign package_type = product_builder_id %}

        {% assign sizes = '' %}
        {% for variant in prod.variants %}
          {% assign size = variant.title | split: ' ' | first %}
          {% if forloop.first %}
            {% assign sizes = size %}
            {% assign contained_products = size | abs %}
          {% else %}
            {% assign sizes = sizes | append: ', ' | append: size %}
          {% endif %}
        {% endfor %}

        {%- assign package_presentation = 'Available in packages of ' | append: sizes %}

      {% endif %}

      "{{ product_builder_id }}": {
        "description": {{ prod.description | json }},
        "title": {{ prod.title | json }},
        "handle": {{ product_handle | json }},
        "available": {{ prod.available | json }},
        "starting_price": {{ prod.price_min | divided_by: contained_products | json }},
        "compare_at_price": {{ prod.compare_at_price_min | divided_by: contained_products | json }},
        "price_unit": {{ price_unit | json }},
        "variants" : {{ prod.variants | json }},
        "package_presentation": {{ package_presentation | json }},
        "package_type": {{ package_type | json }},
        "package_description": {{ package_description | json }},
        "package_sizes": [{{ sizes }}],
        "shipping_description": {{ shipping_description | json }}

      }

      {%- unless forloop.last  -%}
        ,
      {%- endunless %}
    {% endfor %}
  }
}
{%- endcapture -%}

<form class="builder" data-subscription-builder='{{ builder_config }}'
      action="/cart" method="post" enctype="multipart/form-data" novalidate>

   <input type="hidden" name="checkout" value="true" />

  <div class="builder__nav">

    <div class="wrapper">

      <ul class="builder__nav-steps" data-nav-steps>

        <li class="builder__nav-step current" data-step>
          <span class="step-number">1</span> <span class="step-name">Coffee Brew</span>
        </li>

        <li class="builder__nav-step" data-step>
          <span class="step-number">2</span> <span class="step-name">Quantity</span>
        </li>

        <li class="builder__nav-step" data-step>
          <span class="step-number">3</span> <span class="step-name">Shipping Frequency</span>
        </li>

      </ul>

    </div>

  </div>


  <div class="wrapper">

    <div class="builder__steps" data-steps>


      <div class="builder__step" data-step>

        {% capture offering_description %}
          <p class="builder-product-offering__features-title">
            Wake up happy every day
          </p>
          <ul class="builder-product-offering__features">
            <li class="builder-product-offering__feature">Sourced from the top 2% of the world's beans</li>
            <li class="builder-product-offering__feature" data-package-presentation></li>
            <li class="builder-product-offering__feature" data-package-description>Our one and only signature blend</li>
            <li class="builder-product-offering__feature">Roasted and shipped to you same day</li>
          </ul>
        {% endcapture %}

        <div class="builder__step-header">
          <h2 class="builder__title">A Special Offer Just For You</h2>
          <div class="builder__subtitle">
            <p>
              <strong>FREE PRIORITY SHIPPING</strong>
            </p>
          </div>
        </div>

        <div class="builder__step-content">

          <div class="builder__product-offering builder-product-offering">
            <div class="builder-product-offering__preview">
              <img
                class="builder-product-offering__preview-image"
                src="https://storyville.com/anywhere/images/productImage_wholeBean.png"
              />
            </div>

            <div class="builder-product-offering__info">


              <div class="builder-product-offering__header">

                <h2 class="builder-product-offering__title">Get Started
                  <span class="builder-product-offering__price">
                    <span class="builder-product-offering__starting-compare-at-price" data-compare-at-price>$0</span>
                    <span class="builder-product-offering__starting-price" data-starting-price>$0</span>
                    <span class="builder-product-offering__price-unit" data-price-unit></span>
                  </span>
                </h2>

                <h3 class="builder-product-offering__subtitle">
                  Save <span data-saved-price>$6 or</span> more
                  w/ additional <span data-package-type>bags</span>
                </h3>

              </div>


              <div class="builder-product-offering__content desktop-only">

                {{ offering_description }}

              </div>

              <div class="builder-product-offering__options"
                   data-options-set data-options-set-type="product">

                <div class="builder-product-offering__option selected"
                     data-option
                     data-value="beans">
                  <img class="builder-product-offering__option-image" src="{{ product_beans.featured_image | img_url: '60x' }}" />
                  <span class="builder-product-offering__option-text">Whole Bean</span>
                </div>

                <div class="builder-product-offering__option"
                     data-option
                     data-value="pods">
                  <img class="builder-product-offering__option-image" src="{{ product_pods.featured_image | img_url: '60x' }}" />
                  <span class="builder-product-offering__option-text">PODS</span>
                </div>

                <div class="builder-product-offering__option"
                     data-option
                     data-value="capsules">
                  <img class="builder-product-offering__option-image" src="{{ product_capsules.featured_image | img_url: '60x' }}" />
                  <span class="builder-product-offering__option-text">CAPSULES</span>
                </div>

              </div>

            </div>


          </div>

        </div>

        <div class="builder__step-footer">

          <div class="builder__step-actions">
            <div class="builder__step-action" data-next-step>
              Next Step
            </div>
          </div>

          <p class="builder__note">
            <img class="icon" src="{{ 'icon--banner.svg' | asset_url }}" /> <span>If you don't love your coffee, it's on us.</span>
          </p>

          <div class="builder-product-offering__content mobile-only">

            {{ offering_description }}

          </div>

        </div>

      </div>


      <div class="builder__step" data-step>

        <div class="builder__step-header">
          <h2 class="builder__title">How much coffee?</h2>

          <div class="builder__subtitle">
            <p>
              <em><small>ALL SUBSCRIPTIONS INCLUDE FREE PRIORITY SHIPPING</small></em><br/>
            </p>
            <p>
              <span>Adjust, pause, or cancel anytime.</span>
            </p>
          </div>

        </div>


        <div class="builder__step-content">

          <div class="builder__options"
               data-options-set data-options-set-type="quantity">


            <div
              class="builder__option builder-option"
              data-option
              data-value="0">

              <p class="builder-option__note" data-option-price-each>PRICE / Bag</p>

              <div class="builder-option__content">

                <h3 class="builder-option__title builder-option__title--top" data-option-product-type>Product Type</h3>


                <p class="builder-option__price">
                  <span class="builder-option__compare-at-price" data-option-compare-at-price>$00</span>
                  <span class="builder-option__price" data-option-price>$00</span>
                </p>

                <p class="builder-option__feature mobile-only" data-option-save-percentage style="display: none">Save 0%</p>

                <div class="builder-option__product-image-container">
                  <p class="builder-option__feature desktop-only" data-option-save-percentage style=":none">Save 0%</p>
                  <img
                    class="builder-option__product-image" data-option-product-image
                    src="https://via.placeholder.com/850x550"
                  />
                </div>

                <h2 class="builder-option__title builder-option__title--bottom" data-option-product-title>2x Storyville Product</h2>

              </div>

            </div>


            <div
              class="builder__option builder-option selected"
              data-option
              data-value="1">

              <p class="builder-option__note" data-option-price-each>PRICE / Bag</p>

              <div class="builder-option__content">

                <h3 class="builder-option__title builder-option__title--top" data-option-product-type>Product Type</h3>


                <p class="builder-option__price">
                  <span class="builder-option__compare-at-price" data-option-compare-at-price>$00</span>
                  <span class="builder-option__price" data-option-price>$00</span>
                </p>

                <p class="builder-option__feature mobile-only" data-option-save-percentage style="display: none">Save 0%</p>

                <div class="builder-option__product-image-container">
                  <p class="builder-option__feature desktop-only" data-option-save-percentage style=":none">Save 0%</p>
                  <img
                    class="builder-option__product-image" data-option-product-image
                    src="https://via.placeholder.com/850x550"
                  />
                </div>

                <h2 class="builder-option__title builder-option__title--bottom" data-option-product-title>2x Storyville Product</h2>

              </div>


            </div>


            <div
              class="builder__option builder-option"
              data-option
              data-value="2">

              <p class="builder-option__note" data-option-price-each>PRICE / Bag</p>

              <div class="builder-option__content">

                <h3 class="builder-option__title builder-option__title--top" data-option-product-type>Product Type</h3>


                <p class="builder-option__price">
                  <span class="builder-option__compare-at-price" data-option-compare-at-price>$00</span>
                  <span class="builder-option__price" data-option-price>$00</span>
                </p>

                <p class="builder-option__feature mobile-only" data-option-save-percentage style="display: none">Save 0%</p>

                <div class="builder-option__product-image-container">
                  <p class="builder-option__feature desktop-only" data-option-save-percentage style=":none">Save 0%</p>
                  <img
                    class="builder-option__product-image" data-option-product-image
                    src="https://via.placeholder.com/850x550"
                  />
                </div>

                <h2 class="builder-option__title builder-option__title--bottom" data-option-product-title>2x Storyville Product</h2>

              </div>

            </div>


          </div>

        </div>

        <div class="builder__step-footer">

          <p class="builder__note mobile-only">
            <input type="checkbox" data-option-want-epilogue /> <label>I want Epilogue <strong>(Decaf)</strong></label>
          </p>

          <div class="builder__step-actions">
            <div class="builder__step-action" data-next-step>
              Next Step
            </div>
          </div>

          <p class="builder__note desktop-only">
            <input type="checkbox" data-option-want-epilogue /> <label>I want Epilogue <strong>(Decaf)</strong></label>
          </p>

        </div>

      </div>


      <div class="builder__step" data-step>

        <div class="builder__step-header">
          <h2 class="builder__title">How often?</h2>
          <div class="builder__subtitle">
            <p>
              Now it's time to tell the truth, how happy do you want to be?<br />
              It's easy to change your shipping frequency at anytime.
            </p>
          </div>
        </div>

        <div class="builder__step-content">

          <div class="builder__options"
               data-options-set data-options-set-type="frequency">

            {% assign frequencies = 'fanatic,enthusiast,admirer' | split: ',' %}

            {% for frequency in frequencies %}

              <div class="builder__option builder-option builder-option--frequency {% if forloop.index == 2 %}selected{% endif %}"
                   data-option
                   data-value="{{ forloop.index0 }}">

                <div class="builder-option__content">

                  <div class="builder-option__product-image-container">
                    <img
                      class="builder-option__product-image"
                      src="{{ 'calendar-frequency--weeks-' | append: forloop.index | append: '.png' | asset_url }}"
                    />
                  </div>

                  <h2 class="builder-option__title builder-option__title--top builder-option__title--large">
                    {{ frequency }}

                    <small class="builder-option__subtitle">
                      Ships free every
                      <span data-ships-every></span>
                    </small>

                  </h2>

                </div>

              </div>
            {% endfor %}

          </div>

        </div>


        <div class="builder__step-footer">

          <div class="builder__step-actions">
            <div class="builder__step-action" data-next-step>
              Review Order
            </div>
          </div>

        </div>


      </div>


    </div>


    <div class="builder__disclaimer">
      Nespresso&#xAE; is a registered trademark of Societe des Produits Nestle S.A.
      Keurig&#xAE; is a registered trademark of Keurig Green Mountain, Inc. Storyville
      Coffee products are not endorsed, sponsored, licensed, or approved by Nespresso
      USA Inc., Societe des Produits Nestle S.A., Keurig Green Mountain, Inc., or any
      of their respective affiliates.
    </div>

  </div>


</form>
